In [1]:
import numpy as np
import pandas as pd
import csv

In [5]:
file = open('TSLA.csv')
type(file)

csvreader = csv.reader(file)

data =pd.read_csv('TSLA.csv')
tabell =pd.DataFrame(data)

print(tabell)

           Date        Open        High         Low       Close   Adj Close  \
0    2022-10-24  205.820007  213.500000  198.589996  211.250000  211.250000
1    2022-10-25  210.100006  224.350006  210.000000  222.419998  222.419998
2    2022-10-26  219.399994  230.600006  218.199997  224.639999  224.639999
3    2022-10-27  229.770004  233.809998  222.850006  225.089996  225.089996
4    2022-10-28  225.399994  228.860001  216.350006  228.520004  228.520004
..          ...         ...         ...         ...         ...         ...
245  2023-10-16  250.050003  255.399994  248.479996  253.919998  253.919998
246  2023-10-17  250.100006  257.179993  247.080002  254.850006  254.850006
247  2023-10-18  252.699997  254.630005  242.080002  242.679993  242.679993
248  2023-10-19  225.949997  230.610001  216.779999  220.110001  220.110001
249  2023-10-20  217.009995  218.860001  210.419998  211.990005  211.990005

        Volume
0    100446800
1     96507900
2     85012500
3     61638800
4     69152400
..         ...
245   88917200
246   93562900
247  125147800
248  170772700
249  137734000

[250 rows x 7 columns]